html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

button:disabled {
  opacity: 0.5;
}

.centered {
  text-align: center !important;
}

.ant-table-content th,
.ant-table-content td {
  text-align: center !important;
}

.anticon {
  font-weight: 900;
}

.login-form,
.form-wrapper {
  min-width: 250px;
  max-width: 350px;
  width: 50%;
  height: 60%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.form-wrapper button,
.form-wrapper input {
  margin: 10px 0;
}

.form-wrapper .ant-btn,
.login-form .ant-btn {
  width: 100%;
}

.delete-med-icon {
  font-size: 20px;
  position: absolute;
  right: 20px;
}

.delete-med-icon:hover {
  color: red;
}

.divider-title {
  font-size: 22px;
  text-align: 'center';
  color: 'rgba(0, 0, 0, 0.65)';
  font-weight: 400;
  margin-bottom: 40px;
}

.full-width {
  width: 100%;
}

.clear-fix {
  margin-top: 20px;
}

.logout-icon {
  position: fixed;
  bottom: 4%;
  right: 5%;
  font-size: 26px;
  color: tomato;
}

.logout-icon:hover {
  color: red;
}

.reload-icon {
  position: fixed;
  bottom: 4%;
  left: 5%;
  font-size: 26px;
  color: lightslategray;
}

.reload-icon:hover {
  color: slategray;
}

.language-button {
  width: 36px !important;
  height: 36px !important;
  position: fixed;
  top: 4%;
  left: 5%;
}

.home-icon {
  position: fixed;
  bottom: 11%;
  right: 5%;
  font-size: 30px;
  color: lightseagreen;
}

.home-icon:hover {
  color: seagreen;
}

.ant-input {
  font-size: 16px;
}
